body {
    height: 728px;
    width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f9;
    z-index: 0;
  }
  
  .hamburger {
    object-position: left;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--primary-b-400, #6070ff);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    gap: 80px;
  }
  
  header {
    border-bottom: 1px solid var(--neutrals-n-40, #bbc1d0);
    border-radius: 0 0 0 60px;
    background: url(images/Header\ bg.svg) no-repeat;
    background-size: cover;
    background-color: #fff;
  }
  
  .starting {
    display: inline-flex;
    padding: 114px 24px;
    flex-direction: column;
    align-items: flex-start;
  
    /* gap: 24px; */
    justify-content: center;
  }
  
  .starting h2 {
    height: 150px;
    font-size: 40px;
    align-items: center;
    margin: 0;
  }
  
  .starting p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--neutrals-n-600, #344563);
  }
  
  .starting p span {
    color: #7f8cff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .parent {
    display: inline-flex;
    padding: 114px 8px;
    flex-direction: column;
    align-items: center;
  }
  
  .about .top button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    color: var(--primary-b-500, #396df2);
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.51px;
  }
  
  .about .top p {
    color: var(--neutrals-n-600, #344563);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .about .top img {
    padding: 16px 0;
  }
  
  .display_cards .card img {
    height: 220px;
    width: 272px;
    border-radius: 8px;
  }
  
  .languages .text img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: start;
  }
  
  .languages .drop .lang img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 48px;
    border: 1px solid var(--neutrals-n-0, #fff);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  
  .display_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 88px;
  }
  
  .display_cards .card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 12px;
    width: 270px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    border-radius: 16px;
    background-color: #fff;
  }
  
  .display_cards .card .maintext h1 {
    /* width: 272px;
      height: 36px; */
    color: var(--neutrals-n-800, #172b4d);
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
  }
  
  .display_cards .card .maintext .frame {
    width: 240px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    margin: 0;
  }
  
  .display_cards .card .maintext .frame h3 {
    color: var(--neutrals-n-600, #394456);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }
  
  .display_cards .card .maintext .frame img {
    width: 8px;
    height: 8px;
  }
  
  .display_cards .card .maintext p {
    color: var(--neutrals-n-600, #344563);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .display_cards .card .maintext .buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }
  
  .display_cards .card .maintext .buttons button {
    color: #6070ff;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    display: flex;
    padding: 8px 15px;
    align-items: center;
    border: none;
  }
  
  .display_cards .card .maintext .projectbutton {
    display: flex;
    padding: 12px 169px 12px 0;
    align-items: center;
  }
  
  .display_cards .card .maintext .projectbutton .project {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    background: #fff;
  }