body {
  height: 728px;
  width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edeff3;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-b-400, #6070ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  gap: 80px;
}

header {
  border-bottom: 1px solid var(--neutrals-n-40, #bbc1d0);
  border-radius: 0 0 0 60px;
  background-size: cover;
  background-color: #fff;
}

.hero {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url('images/header-shapes\ mobile@2x.svg') no-repeat;
}

.hero h2 {
  height: 150px;
  font-size: 40px;
  align-items: center;
  margin: 0;
}

.hero p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutrals-n-600, #344563);
}

.hero p span {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.works {
  display: inline-flex;
  padding: 114px 8px;
  flex-direction: column;
  align-items: center;
}

.mainCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 88px;
}

.mainCards .card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 12px;
  width: 270px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  border-radius: 16px;
  background-color: #fff;
}

.mainCards .card img {
  height: 220px;
  width: 272px;
  border-radius: 8px;
}

.languages .text h1 {
  width: 200px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.mainCards .card .textArea h1 {
  color: var(--neutrals-n-800, #172b4d);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
}

.mainCards .card .textArea .frame {
  width: 240px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  margin: 0;
}

.mainCards .card .textArea .frame h3 {
  color: var(--neutrals-n-600, #394456);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.about .top img {
  padding: 16px 0;
}

.languages .text img {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: start;
}

.languages .drop .lang img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.mainCards .card .textArea .frame img {
  width: 8px;
  height: 8px;
}

.mainCards .card .textArea .buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.about .top button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.mainCards .card .textArea .buttons button {
  color: #6070ff;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  display: flex;
  padding: 8px 15px;
  align-items: center;
  border: none;
}

.mainCards .card .textArea .projectbutton {
  display: flex;
  padding: 12px 169px 12px 0;
  align-items: center;
}

.mainCards .card .textArea .projectbutton .project {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background: #fff;
}

.about {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 275px;
  border-top: 1px solid var(--neutrals-n-40, #bbc1d0);
  border-radius: 0 85px 0 0;
  background-color: #fff;
}

.about .top h2 {
  display: flex;
  width: 257px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #192b4c);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.about .top p {
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mainCards .card .textArea p {
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about .top span {
  color: var(--neutrals-n-600, #7f8cff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.languages .text {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-evenly;
}

.languages .drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.languages .drop .lang {
  display: flex;
  width: 250px;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.languages .drop .lang h1 {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.contact{
  width: 325px;
  border-radius: 80px 0 0 0;
  background-color: var(--primary-b-400, #6070FF);
}


.contact .parentContainer{
  flex-shrink: 0;
  border-radius: 70px 0 0 0;
  background: url(images/contact\ form\ shapes-mobile.svg) right center no-repeat;
  background-size: 70% auto;
  padding: 29px;
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .parentContainer h2{
  color: #fff;
  margin: 0;
  flex-shrink: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  font-family: Poppins, Arial;
  margin-top: 10rem;
}

.contact .parentContainer p{
  color: var(--primary-b-50, #EBEBFF);
  text-align: center;
  font-family: Poppins, Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-bottom: 50px;
}

.contact .parentContainer .input{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .parentContainer input{
  height: 48px;
  flex-shrink: 0;
  width: 265px;
  border-radius: 8px;
  border: 1px solid var(--base-100, #CFD8DC);
}

.contact .parentContainer .input .t1{
  padding: 10px 16px;
  color: var(--neutrals-n-60, #B3BAC5);
  font-family: Poppins, Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contact .parentContainer .input .t1::placeholder{
  color: var(--neutrals-n-60, #B3BAC5);
  font-family: Poppins, Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}


.contact .parentContainer .input .text-input{
  border-radius: 8px;
  border: 1px solid var(--base-100, #CFD8DC);
  padding: 15px 16px 38px;
  height: 130px;
}



.contact .parentContainer .input .text-input::placeholder{
  color: var(--neutrals-n-60, #B3BAC5);
  font-family: Poppins, Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
}

.end-button{
  display: inline-flex;
  padding: 24px 0 ;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.end-button button{
  display: inline-flex;
  padding: 14px 22px;
  align-items: center;
  justify-content: start;
  border: 1px solid var(--base-100, #909496);
  border-radius: 8px;
  background-color: white;
  color: var(--primary-b-400, #6070FF);
  text-align: center;
  margin-left: -16px;
  font-family: Poppins, Arial;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.51px;
}