body {
  height: 728px;
  width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edeff3;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-b-400, #6070ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  gap: 80px;
}

header {
  border-bottom: 1px solid var(--neutrals-n-40, #bbc1d0);
  border-radius: 0 0 0 60px;
  background: url('images/Header\ bg.svg') no-repeat;
  background-size: cover;
  background-color: #fff;
}

.hero {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h2 {
  height: 150px;
  font-size: 40px;
  align-items: center;
  margin: 0;
}

.hero p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutrals-n-600, #344563);
}

.hero p span {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
